# intermediate files
**/.DS_Store
.DS_Store
obj/
test/server
test/client
test/s
test/c
test/tcpmotor.h
test/tcpmotor2.h
test/concurrentqueue.h
o/
emit/
*.sdf
*.suo
*.opensdf
*.user
*.depend
*.layout
*.o
*.tlog
*.obj
*.ilk
*.pdb
*.log
*.exe
*.unsuccessfukbuild
vs/Debug/*
*.bak
*.lastbuildstate
*.idb
*.tlog
vs/area/Debug
vs/area/Release
vs/area/x64
vs/core/Debug
vs/core/Release
vs/core/x64
vs/ctrl/Debug
vs/ctrl/Release
vs/ctrl/x64
vs/gate/Debug
vs/gate/Release
vs/gate/x64
vs/sess/Debug
vs/sess/Release
vs/sess/x64
vs/robot/Debug
vs/robot/Release
vs/robot/x64
vs/Debug
vs/Release
vs/x64
bin/lib/*
log.txt
*.db
*.opendb